DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test
DB_USERNAME=root
DB_PASSWORD=

ELASTIC_INDEX=commerce
ELASTIC_TYPE=products

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=3
CACHE_LIFETIME=3600
CACHE_ENABLED=true